// Generics
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;;
  background-color: #0E0E0E;
  color: #fff;
  padding: 15px 0;
}
img {
  height: auto;
  max-width: 100%;
}